@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  font-family: Inter;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
html::-webkit-scrollbar{
  display: none;
}

.iphone-container{
  width: 100%;
  min-height: 100vh;
  background: #F2FFF2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  user-select: none;
}
.wrapper{
  width: 100%;
  margin-bottom: 65px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}

.banner{
  width: 90%;
  height: 220px;
  border-radius: 25px;
  display: flex;
  margin: 0 auto;
  background: url(/images/mentor.jpeg) no-repeat;
  background-size: 100% auto; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  
}
nav ul li a{
  color: black;
  margin: 0 10px;
  font-size: 17px;
  text-transform: uppercase;
  transition: background .25s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}
.top-navbar-searchchat a i{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  transition: .5s;
  display: none;
}

.tienich-container{
  margin: 10px auto;
  text-align: left;
  width: 90%;
}
.tienich-container p{
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.tienich-box{
  width: 100%;
  background: #A8C791;
  border-radius: 20px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.circle{
  width: 70px;
  height: 70px;
  background-size: 100% auto;
  border-radius: 50%;
  margin: 10px auto;
  border: solid 1px black;
}
.circle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
.recommend-container{
  margin: 10px auto;
  text-align: left;
  width: 90%;
}
.recommend-container p{
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.recommend-box{
  border-radius: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
}
.gs{
  height: 200px;
  display: grid;
  grid-template-columns: 200px 1fr;
  background: #f8fff2;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
}
.gs img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gs-text{
  padding: 10px;
}
.gs-text-rating{
  display: grid;
  grid-template-columns: 75% 25%;
  font-size: 16px;
}
.gs-text-rating h5{
  font-size: 1rem;
}
.gs-text-rating h6{
  font-size: 10px;
  font-weight: 400;
}
.gs-text-rating h6 i{
  color: #F8DE22;
  -webkit-text-stroke: 1px black;
}
.bottom-navbar{
  width: 100%;
  height: 75px;
  border-top: 1px solid #000;
  background: #709C6F;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.bottom-navbar-container{
  display: flex;
  margin: 20px auto;
  justify-content: space-evenly;
  align-items: center;
}
.bottom-navbar a i{
  font-size: 30px;
  color: #ccc;
  transition: 0.25s;
}
.bottom-navbar #active i{
  color: white;
  font-size: 40px;
  transition: 0.2s ease-in-out;
}
.float-left li a{
  color: white;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  position: relative;
  text-decoration: none;
  padding: 0 7px;
  transition: 0.25s;
}
.float-left a:after{
  content: "";
  position: absolute;
  background: white;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.float-left a:hover:after{
  width: 100%;
}
.float-left a:hover{
  font-size: 18px;
}
.bottom-navbar-container a{
  position: relative;
  text-decoration: none;
  padding: 0 7px;
}
.bottom-navbar-container a:after{
  content: "";
  position: absolute;
  background: white;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -5px;
  transition: 0.25s;
}
.bottom-navbar-container a:hover:after{
  width: 100%;
}
.bottom-navbar a i:hover{
  font-size: 50px;
}
.gs-text-rating2 span{
  font-weight: bold;
}
.gs-text-rating2 .money{
  font-weight: bold;
}
/* RESPONSIVE */
@media (min-width: 1200px){
  .banner{
  width: 90%;
  height: 700px;
  border-radius: 25px;
  display: flex;
  margin: 0 auto;
  background: url(/images/mentor.jpeg) no-repeat;
  background-size: 100% auto; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
.tienich-container{
    display: none;
  }
}
@media (min-width: 972px) and (max-width: 1199px){
.wrapper p{
  font-size: 2rem;
}
label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .banner{
  width: 90%;
  height: 550px;
  border-radius: 25px;
  display: flex;
  margin: 0 auto;
  background: url(/images/mentor.jpeg) no-repeat;
  background-size: 100% auto; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tienich-container{
    display: none;
  }
  .recommend-container p{
    font-size: 24px;
  }
  .gs{
    height: 300px;
    grid-template-columns: 300px 1fr;
  }
  .gs-text-rating h5{
    font-size: 30px;
    font-weight: bold;
  }
  .gs-text-rating2{
    font-size: 24px;
  }
  .gs-text-rating h6{
    font-size: 16px;
    font-weight: 400;
  }
}
@media (min-width: 701px) and (max-width: 971px){
  .banner{
  width: 90%;
  height: 400px;
  border-radius: 25px;
  display: flex;
  margin: 0 auto;
  background: url(/images/mentor.jpeg) no-repeat;
  background-size: 100% auto; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  .tienich-box{
    height: 250px;
    
  }
  .circle{
    margin: auto;
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 550px) and (max-width: 700px){
  .banner{
  width: 90%;
  height: 300px;
  border-radius: 25px;
  display: flex;
  margin: 0 auto;
  background: url(/images/mentor.jpeg) no-repeat;
  background-size: 100% auto; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}}

@media (max-width: 971px){
  .top-navbar-searchchat{
  color: white;
  display: block;
  }
  .float-left li a{
    color: black;
  }
  .float-left a:after{
  background: black;
  }
  .checkbtn{
    display: block;
  }
  .bottom-navbar{
    display: block;
  }
  .top-navbar-searchchat a i{
    display: inline-block;
  }
  ul{
    position: absolute;
    width: 80%;
    background: #DEF4DD;
    height: 100vh;
    text-align: center;
    top: 95px;
    left: -100%;
    transition: all .5s;
  }
  
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .top-navbar-searchchat a i{
    display: inline-block;
    font-size: 40px;
  }
  label.logo{
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0px;
  font-weight: bold;
}
  .checkbtn{
    font-size: 40px;
  }
  .recommend-container p{
    font-size: 16px;
  }
  .gs{
    height: 250px;
    grid-template-columns: 250px 1fr;
  }
  .gs-text-rating h5{
    font-size: 25px;
    font-weight: bold;
  }
  .gs-text-rating2{
    font-size: 15px;
  }
  .gs-text-rating h6{
    font-size: 16px;
    font-weight: 400;
  }
}

@media (min-width: 560px){
.wrapper p{
  font-size: 1.5rem;
}
.bottom-navbar a i{
  font-size: 40px;
  color: #ccc;
}
.bottom-navbar #active i{
  color: white;
  font-size: 50px;
  transition: 0.2s ease-in-out;
}
.bottom-navbar-container{
  display: flex;
  margin: 10px auto;
  justify-content: space-evenly;
  align-items: center;
}

}
@media (min-width: 423px) and (max-width: 560px){
.checkbtn{
  font-size: 30px;
}
.top-navbar-searchchat a i{
  font-size: 30px;
  }
label.logo{
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0px;
  font-weight: bold;
}
.bottom-navbar-container a i{
  font-size: 24px;
}
.bottom-navbar-container #active i{
  font-size: 35px;
}
.bottom-navbar a i{
  font-size: 30px;
  color: #ccc;
}
.bottom-navbar #active i{
  color: white;
  font-size: 40px;
  transition: 0.2s ease-in-out;
}
 .recommend-container p{
    font-size: 16px;
  }
  .gs{
    height: 150px;
    grid-template-columns: 150px 1fr;
  }
  .gs-text-rating h5{
    font-size: 16px;
  }
  .gs-text-rating2{
    font-size: 12px;
  }
  .gs-text-rating h6{
    font-size: 8px;
    font-weight: 400;
  }
}
@media (min-width: 300px) and (max-width:423px){
  .checkbtn{
    font-size: 22px;
  }
  .top-navbar-searchchat a i{
  font-size: 22px;
  }
  label.logo{
  color: white;
  font-size: 20px;
  line-height: 80px;
  padding: 0px;
  font-weight: bold;
  }
  .bottom-navbar a i{
    font-size: 25px;
    color: #ccc;
  }
  .banner{
    height: 180px;
  }
  .tienich-container{
    margin: 10px auto;
    text-align: left;
    width: 90%;
  }
  .tienich-container p{
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .tienich-box{
    width: 100%;
    background: #A8C791;
    border-radius: 20px;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
  }
  .bottom-navbar #active i{
    color: white;
    font-size: 35px;
    transition: 0.2s ease-in-out;
  }
  .recommend-container p{
    font-size: 16px;
  }
  .gs{
    height: 150px;
    grid-template-columns: 150px 1fr;
  }
  .gs-text-rating h5{
    font-size: 16px;
  }
  .gs-text-rating2{
    font-size: 12px;
  }
  .gs-text-rating h6{
    font-size: 8px;
    font-weight: 400;
  }
}

@media (min-width: 100px) and (max-width:350px){
  .banner{
  height: 100px;
  }
  .checkbtn{
    font-size: 22px;
  }
  .top-navbar-searchchat a i{
  font-size: 22px;
  }
  label.logo{
  color: white;
  font-size: 20px;
  line-height: 80px;
  padding: 0px;
  font-weight: bold;
  }
  .bottom-navbar a i{
    font-size: 25px;
    color: #ccc;
  }
  .banner{
    height: 180px;
  }
  .tienich-container{
    margin: 10px auto;
    text-align: left;
    width: 90%;
  }
  .tienich-container p{
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .tienich-box{
    width: 100%;
    background: #A8C791;
    border-radius: 20px;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
  }
  .bottom-navbar #active i{
    color: white;
    font-size: 35px;
    transition: 0.2s ease-in-out;
  }
  .recommend-container p{
    font-size: 16px;
  }
  .gs{
    height: 150px;
    grid-template-columns: 150px 1fr;
  }
  .gs-text-rating h5{
    font-size: 14px;
  }
  .gs-text-rating2{
    font-size: 10px;
  }
  .gs-text-rating h6{
    font-size: 5px;
    font-weight: 400;
  }
}
